<style>
    #channels-status {
        flex: 0 0 52px;
        background-color: var(--background-secondary-alt);
        height: 52px;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 0 8px 1px;
        flex-shrink: 0;
        position: relative;
    }

    #channels-status>div:nth-child(1) {
        align-items: center;
        display: flex;
        margin-left: -2px;
        min-width: 120px;
        padding-left: 2px;
        margin-right: 8px;
        user-select: none;
    }

    #channels-status>div:nth-child(1)>svg:nth-child(1) img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    #channels-status>div:nth-child(1)>div:nth-child(2) {
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: start;
        padding: 0 8px 1px;
        flex-shrink: 0;
        position: relative;
        -webkit-user-select: text;
        -moz-user-select: text;
        user-select: text;
        flex-grow: 1;
        margin-right: 4px;
        min-width: 0;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-top: 4px;
        flex-direction: column;
    }

    #channels-status>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) {
        -webkit-user-select: text;
        -moz-user-select: text;
        user-select: text;
        flex-grow: 1;
        margin-right: 4px;
        min-width: 0;
        -webkit-user-select: text;
        -moz-user-select: text;
        user-select: text;
        flex-grow: 1;
        margin-right: 4px;
        min-width: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--header-primary);
        line-height: 18px;
        font-weight: 600;
        font-family: var(--font-primary);
        font-size: 14px;
        line-height: 1.2857142857142858;
        font-weight: 400;
    }

    #channels-status>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--header-secondary);
        line-height: 13px;
        font-family: var(--font-primary);
        font-size: 12px;
        line-height: 1.3333333333333333;
        font-weight: 400;

    }

    #channels-status>div:nth-child(2) {
        flex: 0 1 auto;
        justify-content: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #channels-status>div:nth-child(2)>a:hover,
    #channels-status>div:nth-child(2)>button:hover {
        color: var(--interactive-hover);
        background-color: var(--background-modifier-selected);
    }

    #channels-status>div:nth-child(2)>a,
    #channels-status>div:nth-child(2)>button {
        cursor: pointer;
        background: transparent;
        color: currentColor;
        border: 0;
        padding: 0;
        margin: 0;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        position: relative;
        color: var(--interactive-normal);
        outline: 0;
    }
</style>
<section id="channels-status">
    <div>
        <svg width="40" height="40" viewBox="0 0 40 40" class="mask_d5067d svg_a6bf1c" aria-hidden="true">
            <foreignObject x="0" y="0" width="32" height="32" mask="url(#svg-mask-avatar-status-round-32)">
                <img src="{{user.avatarURL}}?size=32">
            </foreignObject>
            <rect width="10" height="10" x="22" y="22" fill="#80848e" mask="url(#svg-mask-status-offline)">
            </rect>
        </svg>

        <div>
            <div>
                {{user.username}}
            </div>
            <div id="app-status">
                {{#switch client.ws.status}}

                {{#case 0}}
                Ready
                {{/case}}

                {{/switch}}
            </div>
        </div>
    </div>

    <div>
        <a title="Settings" href="/settings">
            <div style="display: flex; width: 20px; height: 20px;"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="24" height="24"
                    preserveAspectRatio="xMidYMid meet"
                    style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                    <defs>
                        <clipPath>
                            <rect width="24" height="24" x="0" y="0"></rect>
                        </clipPath>
                        <clipPath>
                            <path d="M0,0 L600,0 L600,600 L0,600z"></path>
                        </clipPath>
                    </defs>
                    <g clip-path="url(#__lottie_element_97)">
                        <g clip-path="url(#__lottie_element_99)"
                            transform="matrix(0.03999999910593033,0,0,0.03999999910593033,0,0)" opacity="1"
                            style="display: block;">
                            <g transform="matrix(-25,0,0,-25,300,300)" opacity="1" style="display: block;">
                                <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                    <path fill="currentColor" fill-opacity="1"
                                        d=" M-1.4420000314712524,-10.906000137329102 C-1.8949999809265137,-10.847000122070312 -2.1470000743865967,-10.375 -2.078000068664551,-9.92300033569336 C-1.899999976158142,-8.756999969482422 -2.265000104904175,-7.7210001945495605 -3.061000108718872,-7.390999794006348 C-3.8570001125335693,-7.060999870300293 -4.8480000495910645,-7.534999847412109 -5.546000003814697,-8.484999656677246 C-5.816999912261963,-8.852999687194824 -6.329999923706055,-9.008999824523926 -6.691999912261963,-8.730999946594238 C-7.458000183105469,-8.142999649047852 -8.142999649047852,-7.458000183105469 -8.730999946594238,-6.691999912261963 C-9.008999824523926,-6.329999923706055 -8.852999687194824,-5.816999912261963 -8.484999656677246,-5.546000003814697 C-7.534999847412109,-4.8480000495910645 -7.060999870300293,-3.8570001125335693 -7.390999794006348,-3.061000108718872 C-7.7210001945495605,-2.265000104904175 -8.756999969482422,-1.899999976158142 -9.92300033569336,-2.078000068664551 C-10.375,-2.1470000743865967 -10.847000122070312,-1.8949999809265137 -10.906000137329102,-1.4420000314712524 C-10.968000411987305,-0.9700000286102295 -11,-0.48899999260902405 -11,0 C-11,0.48899999260902405 -10.968000411987305,0.9700000286102295 -10.906000137329102,1.4420000314712524 C-10.847000122070312,1.8949999809265137 -10.375,2.1470000743865967 -9.92300033569336,2.078000068664551 C-8.756999969482422,1.899999976158142 -7.7210001945495605,2.265000104904175 -7.390999794006348,3.061000108718872 C-7.060999870300293,3.8570001125335693 -7.534999847412109,4.8470001220703125 -8.484999656677246,5.546000003814697 C-8.852999687194824,5.816999912261963 -9.008999824523926,6.328999996185303 -8.730999946594238,6.691999912261963 C-8.142999649047852,7.458000183105469 -7.458000183105469,8.142999649047852 -6.691999912261963,8.730999946594238 C-6.329999923706055,9.008999824523926 -5.816999912261963,8.852999687194824 -5.546000003814697,8.484999656677246 C-4.8480000495910645,7.534999847412109 -3.8570001125335693,7.060999870300293 -3.061000108718872,7.390999794006348 C-2.265000104904175,7.7210001945495605 -1.899999976158142,8.756999969482422 -2.078000068664551,9.92300033569336 C-2.1470000743865967,10.375 -1.8949999809265137,10.847000122070312 -1.4420000314712524,10.906000137329102 C-0.9700000286102295,10.968000411987305 -0.48899999260902405,11 0,11 C0.48899999260902405,11 0.9700000286102295,10.968000411987305 1.4420000314712524,10.906000137329102 C1.8949999809265137,10.847000122070312 2.1470000743865967,10.375 2.078000068664551,9.92300033569336 C1.899999976158142,8.756999969482422 2.2660000324249268,7.7210001945495605 3.062000036239624,7.390999794006348 C3.8580000400543213,7.060999870300293 4.8480000495910645,7.534999847412109 5.546000003814697,8.484999656677246 C5.816999912261963,8.852999687194824 6.328999996185303,9.008999824523926 6.691999912261963,8.730999946594238 C7.458000183105469,8.142999649047852 8.142999649047852,7.458000183105469 8.730999946594238,6.691999912261963 C9.008999824523926,6.328999996185303 8.852999687194824,5.816999912261963 8.484999656677246,5.546000003814697 C7.534999847412109,4.8480000495910645 7.060999870300293,3.8570001125335693 7.390999794006348,3.061000108718872 C7.7210001945495605,2.265000104904175 8.756999969482422,1.899999976158142 9.92300033569336,2.078000068664551 C10.375,2.1470000743865967 10.847000122070312,1.8949999809265137 10.906000137329102,1.4420000314712524 C10.968000411987305,0.9700000286102295 11,0.48899999260902405 11,0 C11,-0.48899999260902405 10.968000411987305,-0.9700000286102295 10.906000137329102,-1.4420000314712524 C10.847000122070312,-1.8949999809265137 10.375,-2.1470000743865967 9.92300033569336,-2.078000068664551 C8.756999969482422,-1.899999976158142 7.7210001945495605,-2.265000104904175 7.390999794006348,-3.061000108718872 C7.060999870300293,-3.8570001125335693 7.534999847412109,-4.8480000495910645 8.484999656677246,-5.546000003814697 C8.852999687194824,-5.816999912261963 9.008999824523926,-6.329999923706055 8.730999946594238,-6.691999912261963 C8.142999649047852,-7.458000183105469 7.458000183105469,-8.142999649047852 6.691999912261963,-8.730999946594238 C6.328999996185303,-9.008999824523926 5.817999839782715,-8.852999687194824 5.546999931335449,-8.484999656677246 C4.848999977111816,-7.534999847412109 3.8580000400543213,-7.060999870300293 3.062000036239624,-7.390999794006348 C2.2660000324249268,-7.7210001945495605 1.9010000228881836,-8.756999969482422 2.0789999961853027,-9.92300033569336 C2.1480000019073486,-10.375 1.8949999809265137,-10.847000122070312 1.4420000314712524,-10.906000137329102 C0.9700000286102295,-10.968000411987305 0.48899999260902405,-11 0,-11 C-0.48899999260902405,-11 -0.9700000286102295,-10.968000411987305 -1.4420000314712524,-10.906000137329102z M4,0 C4,2.2090001106262207 2.2090001106262207,4 0,4 C-2.2090001106262207,4 -4,2.2090001106262207 -4,0 C-4,-2.2090001106262207 -2.2090001106262207,-4 0,-4 C2.2090001106262207,-4 4,-2.2090001106262207 4,0z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </a>
    </div>
</section>