body {
    margin: 0;
    font-family: var(--font-primary);
}

html,
body,
#guild-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
    background-color: var(--scrollbar-auto-track);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--scrollbar-auto-track);
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    background-color: var(--scrollbar-auto-thumb);
    min-height: 40px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

a.link {
    color: var(--brand-500);
    text-decoration: underline;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    cursor: pointer;
    width: var(--custom-button-button-sm-width);
    height: var(--custom-button-button-sm-height);
    min-width: var(--custom-button-button-sm-width);
    min-height: var(--custom-button-button-sm-height);
    transition: background-color var(--custom-button-transition-duration)ease, color var(--custom-button-transition-duration)ease;
    outline: 0;
}

.button[disabled] {
    cursor: default;
    opacity: .5;
}

.button.button-primary {
    color: var(--white-500);
    background-color: var(--brand-500);
}

.button.button-primary:hover {
    background-color: var(--brand-560);
}

.button.button-primary:active {
    background-color: var(--brand-600);
}

.button.button-secondary {
    color: var(--white-500);
    background-color: var(--button-secondary-background);
}

.button.button-secondary:hover {
    background-color: var(--button-secondary-background-hover);
}

.button.button-secondary:active {
    background-color: var(--button-secondary-background-active);
}

.button.button-green {
    color: var(--white-500);
    background-color: var(--button-positive-background);
}

.button.button-green:hover {
    background-color: var(--button-positive-background-hover);
}

.button.button-green:active {
    background-color: var(--button-positive-background-active);
}

.button.button-green {
    color: var(--white-500);
    background-color: var(--button-positive-background);
}

.button.button-green:hover {
    background-color: var(--button-positive-background-hover);
}

.button.button-green:active {
    background-color: var(--button-positive-background-active);
}

.button.button-red-outline {
    color: var(--white-500);
    background: none;
    transition: color var(--custom-button-transition-duration)ease, background-color var(--custom-button-transition-duration)ease, border-color var(--custom-button-transition-duration)ease;
    border-width: 1px;
    border-style: solid;
    border-color: var(--button-outline-danger-border);
}

.button.button-red-outline:hover {
    background-color: var(--button-outline-danger-background-hover);
    border-color: var(--button-outline-danger-border-hover);
    color: var(--button-outline-danger-text-hover);
}

.button.button-red-outline:active {
    background-color: var(--button-outline-danger-background-active);
    border-color: var(--button-outline-danger-border-active);
    color: var(--button-outline-danger-text-active);
}

.button.button-red {
    color: var(--white-500);
    background-color: var(--button-danger-background);
}

.button.button-red:hover {
    background-color: var(--button-danger-background-hover);
}

.button.button-red:active {
    background-color: var(--button-danger-background-active);
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    border-top: thin solid var(--background-modifier-accent);
}

a,
div,
span,
strong,
button,
input,
textarea,
select,
label {
    outline: 0;
}

select,
textarea,
input,
::placeholder {
    font-family: var(--font-primary);
    font-weight: 400;
}

body,
textarea,
input,
button,
select,
::placeholder {
    font-family: var(--font-primary);
    text-rendering: optimizeLegibility;
}

::placeholder {
    user-select: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.user-popout {
    position: absolute;
    transition: opacity 80ms ease-out;
    opacity: 1;
    z-index: 69;

    top: 30px;
    left: 30px;

    --profile-gradient-primary-color: var(--background-secondary-alt);
    --profile-gradient-secondary-color: var(--background-secondary-alt);
    --profile-gradient-overlay-color: rgba(0, 0, 0, 0);
    --profile-gradient-button-color: var(--button-secondary-background);
    --profile-avatar-border-color: var(--background-secondary-alt);
    --profile-body-background-color: var(--background-floating);
    --profile-body-background-hover: var(--background-modifier-hover);
    --profile-body-divider-color: var(--background-modifier-accent);
    --profile-body-border-color: var(--border-faint);
    --profile-message-input-border-color: var(--background-modifier-accent);
    --profile-note-background-color: var(--background-tertiary);
    --profile-role-pill-background-color: var(--background-secondary-alt);
    --profile-role-pill-border-color: var(--interactive-normal);

    background: linear-gradient(var(--profile-gradient-primary-color), var(--profile-gradient-primary-color)var(--custom-user-banner-banner-height-popout), var(--profile-gradient-secondary-color));

    max-height: calc(100vh - 28px - var(--custom-user-popout-outside-components-height));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 8px;
}

.user-popout>svg {
    border-radius: 8px 8px 0px 0px;
}

.user-popout>svg div {
    height: var(--custom-user-banner-banner-height-popout);
    width: 100%;
}

.user-popout-avatar-button {
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 22px;
    top: 16px;
    /* cursor: pointer; */
}

.user-popout-avatar-button>div {
    border-radius: 50%;
}

.user-popout-avatar-button>svg {
    position: absolute;
    opacity: 0;
    transition: opacity.1s ease;
    pointer-events: none;
    top: 0;
    left: 0;
    contain: paint;
}

.user-popout-avatar-button:hover>svg {
    opacity: 1;
}

.user-popout-avatar-button>svg div {
    box-sizing: border-box;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    width: 100%;
    padding-top: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
    box-shadow: inset 0 0 120px hsl(var(--black-500-hsl)/.75);
    color: var(--white-500);
}

.user-popout-badges {
    position: relative;
    top: 12px;
    right: 16px;
    width: fit-content;
    align-self: flex-end;
    background-color: var(--profile-body-background-color);
    border-radius: 8px;
    max-width: 190px;
    box-sizing: content-box;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    min-height: 22px;
}

.user-popout-badges>div {
    color: var(--text-link);
    text-decoration: var(--link-decoration);
}

.user-popout-badges>div>img {
    filter: saturate(1);
    filter: saturate(var(--saturation-factor, 1));
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    pointer-events: none;
    object-fit: cover;
}

.user-popout-content {
    margin: 28px 16px 16px;
    max-height: calc(100vh - 128px - var(--custom-user-popout-outside-components-height));
    position: relative;
    background-color: var(--profile-body-background-color);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.user-popout-content>div:nth-child(1) {
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.user-popout-content>div:nth-child(1)>h1 {
    word-break: break-word;
    font-family: var(--font-display);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--header-primary);
    margin: 0;
}

.user-popout-content>div:nth-child(1)>div {
    font-family: var(--font-primary);
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    display: block;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.user-popout-content>div:nth-child(1)>div>span:nth-child(1) {
    overflow: auto;
    word-break: break-all;
    text-overflow: clip;
    white-space: normal;
    color: var(--header-primary);
    vertical-align: top;
    display: inline;
    flex: 0 1 auto;
}

.user-popout-content>div:nth-child(1)>div>span:nth-child(2) {
    color: var(--header-primary);
    vertical-align: top;
}

.user-popout-content>div:not(:nth-child(1)) {
    overflow: hidden auto;
    padding-right: 4px;
    flex: 0 1 auto;
    min-height: 0;
    padding: 0 12px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.user-popout-content>div:not(:nth-child(1))>div {
    padding-top: 12px;
}

.user-popout-content>div:not(:nth-child(1))>h2 {
    display: flex;
    margin-bottom: 6px;
    font-family: var(--font-display);
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;
    color: var(--header-primary);
}

.fetch-error {
    text-align: left;
    vertical-align: middle;
    color: var(--text-danger);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.message-container {
    margin: 16px 0px 0px 0px;
    padding: 2px 8px;
    display: flex;
}

.message-container:hover {
    background-color: #2e3035;
}

.message-container .message-actions {
    display: block;
    opacity: 0%;
    pointer-events: none;
    float: right;
    position: relative;
    top: -24px;
    border: 1px solid #27282b;
    background-color: #313338;
    border-radius: 5px;
    white-space: nowrap;
    direction: rtl;
    user-select: none;
    overflow: hidden;
}

.message-container:hover .message-actions {
    opacity: 100%;
    pointer-events: all;
}

.message-container .message-actions:hover {
    box-shadow: #0004 0px 2px 2px;
}

.message-container .message-actions>* {
    text-align: center;
    background-color: transparent;
    border-radius: unset;
    padding: 0px;
    width: 32px;
    height: 32px;
    min-width: unset;
    display: inline-block;
    transition-duration: unset;
    border: none;
    cursor: pointer;
    color: var(--interactive-normal);
}

.message-container .message-actions>a {
    position: relative;
    top: -3px;
    margin-bottom: -3px;
}

.message-container .message-actions>a>svg {
    position: relative;
    top: 3px;
}

.message-container .message-actions>*:hover {
    background-color: #37383e;
}

.message-container .message-actions>*:active {
    background-color: #3c3e43;
}

.message-container .message-actions>*:active>* {
    transform: translateY(1px);
}

.reaction-container {
    user-select: none;
}

.reaction-container>.reaction {
    display: inline-block;
    height: 24px;
    min-width: 40px;
    border-radius: .5rem;
    padding: 0px 2px;
    margin-top: 8px;
    margin-right: 2px;
    cursor: pointer;
    transition-duration: 100ms;
    transition-property: background-color, outline-color;
    outline: 1px solid transparent;
}

.reaction-container>.reaction:not(.reaction-me) {
    background-color: var(--background-secondary);
}

.reaction-container>.reaction:hover:not(.reaction-me) {
    background-color: var(--background-primary);
    outline: 1px solid hsl(var(--white-500-hsl) / .2);
}

.reaction-container>.reaction>img {
    display: inline-block;
    margin-left: 2px;
}

.reaction-container>.reaction>span:first-child:not(:last-child) {
    display: inline-block;
    margin-left: 2px;
    width: 16px;
    height: 16px;
}

.reaction-container>.reaction>span:last-child {
    font-weight: bolder;
    float: right;
    padding-right: 6px;
    position: relative;
    top: 4px;
}

.reaction-container>.reaction-me {
    outline: 1px solid var(--brand-500);
}

.text-spoiler {
    border-radius: 3px;
    background-color: #46484c;
    transition: color 200ms, background-color 200ms;
}

.text-spoiler.text-spoiler-hidden {
    color: transparent;
    user-select: none;
    cursor: pointer;
    background-color: #1e1f22;
}

.text-spoiler.text-spoiler-hidden:hover {
    background-color: #212226;
}

.text-content-block {
    border: none;
    border-left: 4px solid #4e5058;
    padding-left: 10px;
    display: inline-block;
    height: 1.375rem;
}

.text-content-smallcode {
    background-color: #1e1f22;
    border-radius: 2px;
    font-family: monospace;
    font-weight: 600;
    padding: 1px 2px;
}

.embed-container>.embed {
    background-color: #2b2d31;
    border-radius: 3px;
    display: block;
    padding: 12px;
    border: none;
    border-left: 4px solid #1e1f22;
    max-width: 60%;
    margin-top: 8px;
}

.embed-container>.embed>.embed-title {
    font-size: 16px;
    text-decoration: none;
    cursor: default;
    color: #fff;
    font-weight: bold;
}

.embed-container>.embed>.embed-title.embed-title-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--brand-500);
}

.embed-container>.embed>.embed-author>a {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -6px;
    text-decoration: none;
    cursor: default;
    color: #fff;
}

.embed-container>.embed>.embed-author>a:link {
    text-decoration: underline;
    cursor: pointer;
}

.embed-container>.embed>.embed-author>img {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.embed-container>.embed>.embed-thumbnail {
    float: right;
    border-radius: 6px;
}

.embed-container>.embed>.embed-image {
    border-radius: 4px;
    max-width: 100%;
}

.embed-container>.embed>.embed-footer {
    font-size: 12px;
}

.embed-container>.embed>.embed-field-container {
    display: block;
}

.embed-container>.embed>.embed-field-container>.embed-field {
    display: block;
    margin: 8px 8px 8px 0px;
}

.embed-container>.embed>.embed-field-container>.embed-field>.embed-field-name {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

.message-container .tag {
    font-size: 9px;
    padding: 1px 5px;
    font-weight: 600;
}

.message-container a i.material-icons {
    font-size: 1em;
    position: relative;
    top: 3px;
    display: inline;
}

.user-tag {
    height: .9375rem;
    padding: 0 .275rem;
    margin-top: .075em;
    border-radius: 4px;
    margin-left: .25rem;
    position: relative;
    top: .1rem;
    background: var(--brand-500);
    color: var(--white-500);
    font-size: .625rem;
    text-transform: uppercase;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    text-indent: 0;
}

.message-timestamp {
    display: inline-block;
    height: 1.25rem;
    cursor: default;
    pointer-events: none;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1.375rem;
    color: var(--text-muted);
    vertical-align: baseline;
}

.message-content {
    font-size: 1rem;
    line-height: 1.375rem;
    user-select: text;
    color: var(--text-normal);
}

.mention {
    border-radius: 3px;
    padding: 0 2px;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: plaintext;
    color: var(--mention-foreground);
    background: var(--mention-background);
}

.mention-clickable,
a.mention {
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
}

.mention-clickable:hover,
a.mention:hover {
    color: var(--white-500);
    background-color: var(--brand-500);
}

.embed-container>.embed {
    background-color: #2b2d31;
    border-radius: 3px;
    display: block;
    padding: 12px;
    border: none;
    border-left: 4px solid #1e1f22;
    max-width: 60%;
    margin-top: 8px;
}

.embed-container>.embed>.embed-title {
    font-size: 16px;
    text-decoration: none;
    cursor: default;
    color: #fff;
    font-weight: bold;
}

.embed-container>.embed>.embed-title.embed-title-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--brand-500);
}

.embed-container>.embed>.embed-author>a {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -6px;
    text-decoration: none;
    cursor: default;
    color: #fff;
}

.embed-container>.embed>.embed-author>a:link {
    text-decoration: underline;
    cursor: pointer;
}

.embed-container>.embed>.embed-author>img {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.embed-container>.embed>.embed-thumbnail {
    float: right;
    border-radius: 6px;
}

.embed-container>.embed>.embed-image {
    border-radius: 4px;
    max-width: 100%;
}

.embed-container>.embed>.embed-footer {
    font-size: 12px;
}

.embed-container>.embed>.embed-field-container {
    display: block;
}

.embed-container>.embed>.embed-field-container>.embed-field {
    display: block;
    margin: 8px 8px 8px 0px;
}

.embed-container>.embed>.embed-field-container>.embed-field>.embed-field-name {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.message-container {
    color: var(--text-normal);
}

a:link {
    color: var(--brand-500);
}
